/* Progress Bar (Upload) */
.progress-bar-bg {
    background-color: var(--bg-tertiary);
    border-radius: 999px;
    height: 6px;
    width: 100%;
    margin-top: 0.5rem;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: var(--accent);
    transition: width 0.2s ease;
    border-radius: 999px;
}